/imu/nbproject/private/
/Imu/nbproject/private/
Imu/nbproject/private/private.properties

.gitignore
Imu/application/configs/application.ini

Imu/nbproject/private/private.xml

Imu/.project

Imu/.buildpath

Imu/.settings/.jsdtscope

Imu/.settings/org.eclipse.core.resources.prefs

Imu/.settings/org.eclipse.php.core.prefs

Imu/.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs

Imu/.settings/org.eclipse.php.server.core.phpServersPrefs.prefs

Imu/lib/jquery.js

Imu/sample/sample.html
