/* 
    Document   : main.css
    Created on : 08-05-2012
    Author     : francesco
    Description: Purpose of the stylesheet follows.
*/
body {
    font-family: Lucida, verdana;
    background-color: #fff;
    color: black;
    font-size: 14px;
    margin: auto;
    width: 1000px ;
}

#header {
    height: 100px;
}
#name {
    height: 100px;
    float: left;
}


#content{
    min-height: 200px;  
    border-left: 8px solid #4681F7;
    border-top:8px solid #4681F7;
    border-bottom:8px solid #2565E5;
    border-right:8px solid #2565E5;
    padding-bottom: 10px;
    overflow:auto;
}

#footer {
    height: 50px;
}

.login{
    float: right;
}


/* /////////// tipography //////// */
.left{
    float: left;
}

.pad-lr{
    padding-left: 10px;
    padding-right: 10px;    
}

.right{
    float: right;
}

h1 {
    color: navy;    
}

#name a{
    text-decoration: none;
}

#name h1{
    color: #333;
    font-size: 2.3em;
    margin-bottom: 5px;    
}

h2 {
    font-size: 1.2em;
    /*    color: #008000; */
    color: navy;
}

a {
    /*    color: #008000; */
    color: navy;
}

#creazione p {
    padding-bottom: 5px;
}

.no-pad-top {
    padding-top: 0px;
}
.no-mar-top {
    margin-top: 0px;
}
.no-mar-bot {
    margin-bottom: 0px;
}

.button{
    cursor: pointer;
    background-color: #DCDCDC;
    border-radius: 5px 5px 5px 5px;
    color: black;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #FFF;
}

.doc-button{
    margin: 5px;
    display: inline-block;    
}

.button:hover{
    border: 1px solid #D6b6b6;
}

/* ////////// Table  /////////// */
table{
    border: 0px solid gray;
    border-collapse: collapse;
    font-size: 11px;
}
tr.odd{
    background-color: #cccccf;
}

td{
    padding: 3px 3px;    
}

td.odd{

}

.table {

    border-color: Gray;
    border-style: groove;
    background: none repeat scroll 0 0 #FFFFFF;
    border-width: 1px;

    /*border-collapse: collapse;*/
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 14px;
    margin: 0px;
    text-align: left; 
}

.th {
    border-bottom: 2px solid #6678B1;
    color: #003399;
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
    padding-right: 10px;
}
.td {   
    border-bottom: 1px solid #CCCCCC;
    color: #666699;
    padding: 5px 5px;    
}

.tr:hover td {
    color: #000099;
}

/* /////////// style form ////////// */
form dt {
    width: 280px;
    display: block;
    float: left;
    clear: left;
    padding: 5px;
}

form.informa dt {
    width: 348px;
    display: block;
    float: left;
    clear: left;
    padding: 5px;   
}
form dd {
    margin-left: 0;
    /*float: left;*/
    float: none;
    padding: 5px;    
}
form #submitbutton {
    margin-left: 100px;
}

form label {
    width: 150px;
}

.messaggio{
    /*padding: 5px;*/
    color: red;
}

/* ////// Erorr //////// */
ul.errors{
    list-style: none;
    color: red;
    margin: 0px;
    padding: 0px    
}

/* ///////// Admin Bar ////////// */
.admin-bar{
    width: 100%;
    height: 40px;
    padding: 20px 0px 0px 5px;
    background-color: #316ac5;
    /*background-color: #2B65EC;*/
}

.admin-bar ul{
    margin: 0; 
    padding: 0;
    /*    float: left;*/
}

.admin-bar ul li{
    display: inline;
    margin-right: 5px;    
}

.admin-bar ul li a{
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #dcdcdc;
    color: navy;
    /*    opacity: 0.4;   */
    padding: 10px;
    /*
    float: left;
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #316ac5; 
    */
}

.admin-bar ul li a:visited{
    color: navy;
}

.admin-bar ul li a:hover, .menu_cliente ul li .current{
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    color: navy;
    opacity: 1;    
}

/* /////// notifica ///////  */
.notifica{
    width: 99%; 
    background-color: red;
    color: white;
    /*    padding: 5px;*/

}

/* ////////// footer /////////// */
#footer a{
    color: #333;
}
#footer a:hover{
    color: #F52D0F
}

/* ////// inizio stile form2 /////////// */
.min-larghezza{
    min-width: 150px;
}

#risultati_calcolo_stima{
    background-color: #C5DBF9;
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
}

#tabella2-left{}

#tabella2-right{
    width:198px;
    min-height:200px;
}

.header-tabella1{
    background-color: #4681F7;
}
.corpo-tabella1{
    background-color: #D1D2D3;
}

#button-ricalcola-form2{
    margin-left: 613px;
    margin-top: -51px;
    font-size:11px;
    min-width: 90px;
    padding-left: 40px;
}

#continua_stampa{
    margin-top: 40px;
    margin-left: 290px;
}

#risultati{
    font-size: 15px; 
    margin-top:-40px;
    margin-left: 10px;
}

#indici{
    margin-left:10px;
    margin-top:10px;
}

/* ///// inizio tabella form 2 //////*/
.grigio{
    background-color: #4681F7;
}
.border_sotto{
    border-bottom: 1px solid #C5DBF9;
}
.border_destra{
    border-right: 1px solid #C5DBF9;    
}
.border_sopra{
    border-top: 1px solid #C5DBF9;
}
.border-sinistra{
    border-left: 1px solid #C5DBF9;
}
.copri_tabella2{
    min-height: 200px;
}
#div_form_2{
    width: 970px;
    overflow:auto;
    font-size: 12px;
    margin-left:10px;
}
#header_destinazione_uso{
    width: 150px;
    height: 45px;
    padding:0;
    padding-left: 5px;
    padding-top: 10px;
}
#corpo_destinazione_uso{
    width: 150px;
    padding-top:5px;
    padding-left: 5px;
}
#header_quota_massima_ammissibile{
    width: 100px;
    height: 45px;
    padding-left :5px;
    padding-top: 10px;
}
#corpo_quota_massima_ammissibile{
    width: 100px;
    padding-top: 5px;
    padding-left: 5px;
}
#header_soglia_dimensione_massima{
    width: 110px;
    height: 45px;
    padding-left: 5px;
    padding-top: 10px;
}
#corpo_soglia_dimensione_massima{
    width: 110px;
    padding-top: 5px;
    padding-left: 5px;
}
#header_peso_standard{
    width: 115px;
    height: 45px;
    padding-left: 5px;
    padding-top: 10px;
}
#corpo_peso_standard{
    width: 115px;
    padding-top: 5px;
    padding-left: 5px;
}
#header_quota_progetto{
    width: 150px;
    height: 45px;
    padding-left: 5px;
    padding-top: 10px;
}
#corpo_quota_progetto{
    width: 150px;
    padding-top: 5px;
    padding-left: 5px;
}
#header-um-cessione{
    width:95px;
    height: 45px;
    padding-top: 10px;
    padding-left: 5px;
}
#corpo-um-cessione{
    width:95px;
    padding-left: 5px;
    padding-top: 5px;
}
#header-cessione{
    width:90px;
    height: 45px;
    padding-top: 10px;
    padding-left:15px;
}
#corpo-cessione{
    width:90px;
    padding-left: 15px;
    padding-top: 5px;
}
#header-quota-monetaria{
    width:90px;
    height: 45px;   
    padding-top: 10px;
    padding-left: 15px;
}
#corpo-quota-monetaria{
    width:90px;
    padding-left: 15px;
    padding-top: 5px;
}   

.blocco_tabella2{
    height: 33px;
    margin-top: auto;
    margin-bottom:auto;
    width:100%;
}
#calcolo_imu_lonato_step2 .zend_form{
    margin-top: 0px;
}
#calcolo_imu_lonato_step2 dt{
    display:none;
    padding:0;
    margin:0;
}
#calcolo_imu_lonato_step2 dd{
    margin-top: 8px;
    margin-bottom:8px;
    padding: 0;
}

/* ////// fine tabella form 2 ////// */

/* ///////// fine stile form2 ////// */



.privacy {
    width: 150px;
    font-size: 12px;
    font-style: italic;
}

/* ///////// inizio stile form1 ////////// */

#id_m_ambiti{
    width: 600px;
}

#contenitore-index{
    padding: 10px;
}

/* ////////  fine stile form1 /////////// */

/* /////// inizio stile anagrafe(step3) /////// */

#button-ricalcola-anagrafe{
    margin-left: 104px;
    margin-top: -58px;
    font-size:11px;
    min-width: 90px;
    padding-left: 40px;
}

#stampa_soc{
    margin-top:44px;
    margin-right:10px;
    margin-left: -6px;
}

/* /////// fine stile anagrafe(step3) /////// */
